.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: start;
}

.chart .label {
    fill: black;
    font: 18px sans-serif;
}

.chart .label1 {
    fill: gray;
    font: 12px sans-serif;
    text-transform: uppercase;
}
.chart {
    padding: 30px;
}
.chart-second {
    padding: 30px;
}
.chart-second .arc {

    stroke: white;
}

.chart-second .label {
    font: 18px sans-serif;

}

.chart-second .label1 {
    fill: #808789;
    font: 12px sans-serif;
    text-transform: uppercase;
}

.chart-third {
    padding: 30px;
}

.chart-third .label {
    font: 18px sans-serif;
}
.chart-third .label1 {
    fill: #808789;
    font: 12px sans-serif;
    text-transform: uppercase;
}
